
<div class="footer-area mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="footer-info">
                    <div class="footer-logo">
                        <img src="assets/images/logo-2.png" alt="" class="img-fluid">
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid maxime aut ut voluptate
                        dolorum nisi ducimus ratione</p>
                    <div class="footer-social-icons">
                        <h5>Follow Us:</h5>
                        <ul>
                            <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#"><i class='bx bxl-dribbble'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-7">
                        <div class="footer-links">
                            <h5 class="widget-title">Contact us</h5>
                          
                            <div class="contact-box">
                                <span><i class="bx bx-phone"></i></span>
                                <div>
                                    <a href="tel:+01852-1265122">+01852-1265122</a>
                                    <a href="tel:+01852-1265122">+01852-1265122</a>
                                </div>
                            </div>
                            <div class="contact-box">
                                <span><i class="bx bx-mail-send"></i></span>
                                <div>
                                    <a href="http://demo.egenslab.com/cdn-cgi/l/email-protection#345d5a525b74514c55594458511a575b59"><span class="__cf_email__" data-cfemail="6801060e07280d10090518040d460b0705">[email&#160;protected]</span></a>
                                    <a href="http://demo.egenslab.com/cdn-cgi/l/email-protection#added8ddddc2dfd9edc8d5ccc0ddc1c883cec2c0"><span class="__cf_email__" data-cfemail="dcafa9acacb3aea89cb9a4bdb1acb0b9f2bfb3b1">[email&#160;protected]</span></a>
                                </div>
                            </div>
                            <div class="contact-box">
                                <span><i class="bx bx-location-plus"></i></span>
                                <div>
                                    <a href="#">2752 Willison Street <br>
                                        Eagan, United State</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-5">
                        <div class="footer-links">
                            <h5 class="widget-title">support</h5>
                            <div class="category-list">
                               <ul>
                                   <li><a href="contact.html">Contact us</a></li>
                                   <li><a href="about.html">About us</a></li>
                                   <li><a href="#">Services</a></li>
                                   <li><a href="blog.html">our Blogs</a></li>
                                   <li><a href="#">terms and conditions</a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-links payment-links">
                            <h5 class="widget-title">We Accepts:</h5>
                            <div class="payment-cards">
                                <img src="assets/images/payment/payment-card-2.png" alt="" class="img-fluid">
                                <img src="assets/images/payment/payment-card-1.png" alt="" class="img-fluid">
                                <img src="assets/images/payment/payment-card-3.png" alt="" class="img-fluid">
                                <img src="assets/images/payment/payment-card-4.png" alt="" class="img-fluid">
                                <img src="assets/images/payment/payment-card-5.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
            <div class="copyrigth-area">
                <p>Copyright 2021 <a href="#">TourX</a> | Design By <a href="#">Egens Lab</a></p>
            </div>
           </div>
        </div>
        
    </div>
</div>