<div class="package-card">
    <div class="package-thumb">
        <img [src]="tour.img" alt="" class="img-fluid">
    </div>
    <div class="package-details">
        <div class="package-info">
            <h5><span>{{tour.currency}}{{tour.price}}</span>/Per Person</h5>
            <h5><i class="flaticon-calendar"></i>{{tour.lengthDAYS}} Days/{{tour.lengthNIGHTS}} night</h5>
        </div>
        <h3><i class="flaticon-arrival"></i>
            <a href="package-details.html">{{tour.name}}</a>
        </h3>
        <div class="package-rating">
           <strong><i class='bx bxs-star'></i><span>8K+</span> Rating</strong>
        </div>
    </div>
</div>