<div class="achievement-area p-80 mt-120">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="section-head pb-30">
                   <h5>Why TourX</h5>
                   <h2>Why you are travel with tourx</h2>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated"  data-wow-duration="1500ms" data-wow-delay="0ms" >
               <div class="achievement-card mt-30">
                   <div class="achievement-icon">
                       <i class="flaticon-guide"></i>
                   </div>
                   <h5>2000+ Our worldwide
                       guide</h5>
               </div>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated"  data-wow-duration="1500ms" data-wow-delay="200ms" >
               <div class="achievement-card mt-30">
                   <div class="achievement-icon">
                       <i class="flaticon-trust"></i>
                   </div>
                   <h5>100% trusted travel agency</h5>
               </div>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated"  data-wow-duration="1500ms" data-wow-delay="400ms" >
               <div class="achievement-card mt-30">
                   <div class="achievement-icon">
                       <i class="flaticon-experience"></i>
                   </div>
                   <h5>10+ year of travel experience</h5>
               </div>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated"  data-wow-duration="1500ms" data-wow-delay="600ms" >
               <div class="achievement-card mt-30">
                   <div class="achievement-icon">
                       <i class="flaticon-traveller"></i>
                   </div>
                   <h5>90% of our traveller happy</h5>
               </div>
           </div>
       </div>
   </div>
</div>