<div class="main-banner-2">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="main-banner-content-2">
                    <h2>Amazing Tour In <br>
                        <span class="element">Hampshire</span>
                    </h2>
                    <h3>7 Days, 8 Night Tour</h3>
                </div>
            </div>
        </div>

        <div class="find-form-2">
            <form class="findfrom-wrapper">
                <div class="row">
                    <div class="col-lg-3">
                        <input type="text" placeholder="Where To...">
                    </div>
                    <div class="col-lg-3">
                        <div class="calendar-input">
                            <input type="text" name="check-in" class="input-field check-in" placeholder="dd-mm-yy">
                            <i class="flaticon-calendar"></i>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="custom-select">
                            <select>
                              <option value="0">To Where</option>
                              <option value="1">Spain</option>
                              <option value="2">France</option>
                              <option value="3">Chaina</option>
                              <option value="4">Canada</option>
                              <option value="5">Bangladash</option>
                            </select>
                          </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="find-btn">
                            <a href="#" class="btn-second"><i class='bx bx-search-alt'></i> Find now</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>