
     <div class="topbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 tob-contact-row">
                    <div class="topbar-contact">
                        <ul>
                            <li><i class='bx bxs-phone'></i><a href="tel:+17632275032">+1 763-227-5032</a></li>
                            <li><i class='bx bxs-envelope'></i><a href="http://demo.egenslab.com/cdn-cgi/l/email-protection#99f0f7fff6d9fce1f8f4e9f5fcb7faf6f4"><span class="__cf_email__" data-cfemail="2c45424a436c49544d415c4049024f4341">[email&#160;protected]</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-6">
                    <div class="topbar-social">
                        <ul>
                            <li>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                            </li>
                            <li>
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                            </li>
                            <li>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                            </li>
                            <li>
                                <a href="#"><i class='bx bxl-whatsapp'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-6">
                      <div class="custom-select languege-select">
                           <select>
                             <option value="0">ENG</option>
                             <option value="1">BAN</option>
                             <option value="2">FSP</option>
                             <option value="3">CHI</option>
                           </select>
                       </div>
                </div>
            </div>

        </div>
    </div>